<div ng-controller="ExCrdCtl">
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div ng-repeat="ctl in laser_ctl track by $index">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ctl.id}}</div>
                    <div class="panel-body">
                        <cui-numeric ng-model="ctl.rate" width="45" dtype="int" evnt-func="setRate($index, ctl.rate)">f (Hz)</cui-numeric>
                        <cui-numeric ng-model="ctl.DC" width="45">DC (%)</cui-numeric>
                        <cui-numeric width="45" ng-model="ctl.k" evnt-func="setLaserGain()">k</cui-numeric>
                        <cui-button ival="ctl.en" ng-model="ctl.en" ng-click="setEn($index)">Power</cui-button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="tooltip" data-placement="right" title="PMT gains in volts.">
                <div class="panel-heading">
                    PMT Gain
                </div>
                <div class="panel-body">
                    <div ng-repeat="p in pmt track by $index">
                      <cui-numeric ng-model="pmt[$index]" width =10 evnt-func="setGain($index)">{{$index}}</cui-numeric>
                    </div>

                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Purge</div>
                <div class="panel-body">
                    <cui-button ival="purge.pos" ng-click="purge.setValve()">Flow Ctl</cui-button>
                    <label for="pFlow">Flow</label>
                    <input id="pFlow" class="form-control" ng-model="purge.flow" ng-blur="purge.setFlow()">
                </div>
            </div>
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="row">
               <dy-graph options="optPData" data="pData" context-menu="pDataCMOptions"></dy-graph>
            </div>
            <div class="row">
                <dy-graph options="options" data="ringdownAvg"></dy-graph>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="cell in data.cell.tau[0] track by $index" ng-if="$index > 0">
            <div class="panel panel-default">
                <div class="panel-heading">Cell {{$index}}</div>
                <div class="panel-body">
                    <cui-numeric ng-model="data.cell.tau[0][$index]" width="60" readonly>&tau; (&mu;s)</cui-numeric>
                    <cui-numeric ng-model="data.cell.tau0[0][$index]" width="60" readonly>&tau;<sub>0</sub> (&mu;s)</cui-numeric>
                    <cui-numeric ng-model="data.cell.taucorr[0][$index]" width="60" readonly>&tau;` (&mu;s)</cui-numeric>
                    <cui-numeric ng-model="data.cell.tau0corr[0][$index]" width="60" readonly>&tau;<sub>0</sub>` (&mu;s)</cui-numeric>
                    <cui-numeric ng-model="data.cell.ext[0][$index]" width="60" readonly>&sigma; (Mm<sup>-1</sup>)</cui-numeric>
                </div>
            </div>
        </div>
    </div>
</div>