[submodule "assets/ad"]
	path = assets/ad
	url = https://github.com/lo-co/angular-dygraph
[submodule "ui.bootstrap.contextMenu"]
	path = ui.bootstrap.contextMenu
	url = https://github.com/lo-co/ui.bootstrap.contextMenu
