<div class="row">
    <div class="col-md-2">
        <div ng-controller="filter">
            <div class="panel-default panel">
                <div class="panel-heading">Filter Input</div>
                <div class="panel-body">

                    <cui-numeric ng-model="cycle.period" width="50" evnt-func="updateCycle()">Per. (s)</cui-numeric>
                    <cui-numeric ng-model="cycle.length" width="50" evnt-func="updateCycle()">l (s)</cui-numeric>
                    <cui-numeric ng-model="speaker.f0" width="50" evnt-func="updateSpkF()" type="int">Auto</cui-numeric>
                    <cui-button ival="cycle.auto" ng-click="updateAuto()">Speaker</cui-button>
                    <cui-numeric ng-model="tremain" width="50" type="int" readonly>t<sub>r</sub> (s)</cui-numeric>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-controller="power">
            <div class="panel panel-default">
                <div class="panel-heading">Power</div>
                <div class="panel-body">
                    <div ng-repeat="(key,value) in power">
                        <cui-button ival="power[key]" ng-click="toggle(key)">{{key}}</cui-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>