<div ng-controller="crd">
    <accordion close-others="false">
        <accordion-group heading="Controls" is-disabled=false is-open=false>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Laser Control
                        </div>
                        <div class="row">
                            <div ng-repeat="ctl in laser_ctl track by $index">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">{{ctl.id}}</div>
                                        <div class="form-group">
                                            <label for="rate_{{$index}}">f (Hz)</label>
                                            <input type="number" id="rate_{{$index}}" class="form-control" ng-blur="setRate($index, ctl.rate)" ng-model="ctl.rate">
                                        </div>
                                        <div class="form-group">
                                            <label for="dc_{{$index}}">DC (%)</label>
                                            <input type="number" id="dc_{{$index}}" class="form-control" ng-model="ctl.DC">
                                        </div>
                                        <div class="form-group">
                                            <label for="k_{{$index}}">Gain</label>
                                            <input type="number" id="k_{{$index}}" class="form-control" ng-model="ctl.k">
                                        </div>
                                        <button ng-class="ctl.en ? 'btn btn-primary btn-block':'btn btn-warning btn-block'" ng-model="ctl.en" ng-click="setEnable($index)" ng-switch on="ctl.en">
                                            <strong>
												<div ng-switch-when=true>Enabled</div>
												<div ng-switch-when=false>Disabled</div>
											</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default" data-toggle="tooltip" data-placement="right" title="PMT gains in volts.">
                        <div class="panel-heading">
                            PMT Gain
                        </div>
                        <div ng-repeat="p in pmt track by $index">
                            <label for="g{{$index}}">Cell {{$index+1}}</label>
                            <input type="number" class="form-control" id="g{{$index}}" ng-model="p">
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block">WTF??</button>
                </div>
            </div>
        </accordion-group>

        <accordion-group heading="Indicators" is-disabled="false" is-open="false">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <colgroup>
                                <col class="col-md-1"></col>
                                <col class="col-md-2"></col>
                                <col class="col-md-2"></col>
                                <col class="col-md-2"></col>
                                <col class="col-md-2"></col>
                                <col class="col-md-2"></col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Cell</th>
                                    <th>&tau;</th>
                                    <th>&tau;<sub>0</sub></th>
                                    <th>&tau;_</th>
                                    <th>&tau;<sub>0</sub>_</th>
                                    <th>ext (Mm
                                        <sup>-1</sup>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cell in data.cell.tau[0] track by $index" ng-if="$index > 0">
                                    <td>
                                        {{$index}}
                                    </td>
                                    <td>{{ data.cell.tau[0][$index] | number}}</td>
                                    <td>{{ data.cell.tau0[0][$index] | number:2}}</td>
                                    <td>{{ data.cell.taucorr[0][$index] | number:2 }}</td>
                                    <td>{{ data.cell.tau0corr[0][$index] | number:2 }}</td>
                                    <td>{{ data.cell.ext[0][$index] | number:2 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </accordion-group>
        <accordion-group is-open=false is-disabled=false heading="Plots">
            <dy-graph options="optPData" data="pData" context-menu="pDataCMOptions"></dy-graph>
        </accordion-group>
        <accordion-group is-open=true is-disabled=false heading="Ringdown">
            <dy-graph options="options" data="ringdownAvg"></dy-graph>

        </accordion-group>
    </accordion>
</div>