<div ng-controller="ExFlowCtl">
   <div class="row">
       <div class="col-md-12">
           
       </div>
   </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="device in Devices track by $index">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{device.label}}</div>
                        <div class="panel-body">
                            <cui-numeric ng-model="device.Q" readonly>Q</cui-numeric>
                            <cui-numeric ng-model="device.Q0" readonly>Q<sub>0</sub></cui-numeric>
                            <cui-numeric ng-model="device.T" readonly>T</cui-numeric>
                            <cui-numeric ng-model="device.P" readonly>P</cui-numeric>
                            <cui-numeric ng-model="device.Qsp" readonly ng-if="device.isController">Q<sub>sp,a</sub></cui-numeric>
                            <cui-numeric ng-model="device.sp" ng-if="device.isController" evnt-func="updateSP(device)">Q<sub>sp</sub></cui-numeric>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>