<div ng-controller="flowCtlr">
	<accordion close-others=false>
		<accordion-group heading="Flow Control" is-open=false is-disabled=false>
			<div ng-repeat="device in Devices track by $index">
				<div class="input-group" ng-if="device.isController">
					<label for="fc_{{device.index}}">{{device.label}}</label>
					<input type="number" class="form-control" id = "fc_{{device.index}}" ng-blur="updateSP(device)" ng-model="device.sp" value="{{device.sp}}"/>
				</div>
			</div>
		</accordion-group>
		<accordion-group heading="Flow Data" is-open=true is-disabled=false>
			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Q</th>
						<th>Q0</th>
						<th>T</th>
						<th>P</th>
						<th>Q<sub>sp</sub></th>
					</tr>
					<tr ng-repeat="device in Devices">
						<td>{{device.label}}</td>
						<td>{{device.Q}}</td>
						<td>{{device.Q0}}</td>
						<td>{{device.T}}</td>
						<td>{{device.P}}</td>
						<td>{{device.Qsp}}</td>
					</tr>

				</table>
			</div>
		</accordion-group>
		<accordion-group heading="Flow Graphs" is-open=false is-disabled=false>
			<p>
				Display graphs here.
			</p>
		</accordion-group>
	</accordion>
</div>
