<div ng-controller="flowCtlr">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">Control</div>
        <div class="panel-body">
          <div ng-repeat="device in Devices track by $index">
            <div class="form-group" ng-if="device.isController">
              <label for="fc_{{device.index}}">{{device.label}}</label>
              <input  ="fc_{{device.index}}" class="form-control" ng-blur="updateSP(device)" ng-model="device.sp" type="number" value="{{device.sp}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <accordion close-others=false>
        <accordion-group heading="Flow Data" is-disabled=false is-open=true>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th class="col-md-2">ID</th>
                <th class="col-md-2">Q</th>
                <th class="col-md-2">Q0</th>
                <th class="col-md-2">T</th>
                <th class="col-md-2">P</th>
                <th class="col-md-2">Q
                  <sub>sp</sub>
                </th>
              </tr>
              <tr ng-repeat="device in Devices">
                <td>{{device.label}}</td>
                <td>{{device.Q}}</td>
                <td>{{device.Q0}}</td>
                <td>{{device.T}}</td>
                <td>{{device.P}}</td>
                <td>{{device.Qsp}}</td>
              </tr>

            </table>
          </div>
        </accordion-group>
        <accordion-group heading="Flow Graphs" is-disabled=false is-open=false>
          <p>
            Display graphs here.
          </p>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
