<div ng-controller="ExHumidityCtl">
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div class="row">
                <div ng-repeat="ctl in h track by $index">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ctl.name}}</div>
                            <div class="panel-body">
                                <cui-numeric ng-model="ctl.p" width="45" evnt-func="updateHum($index)">P</cui-numeric>
                                <cui-numeric ng-model="ctl.i" width="45" evnt-func="updateHum($index)">I</cui-numeric>
                                <cui-numeric ng-model="ctl.d" width="45" evnt-func="updateHum($index)">D</cui-numeric>
                                <cui-numeric ng-model="ctl.sp" width="45" evnt-func="updateHum($index)">RH<sub>sp</sub></cui-numeric>
                                <cui-button ival="ctl.en" ng-model="med.en" ng-click="setEnable($index)">Power</cui-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9 col-lg-10">
            <div class="row">
                <dy-graph options="optCtlOut" data="ctlrOutData"></dy-graph>
            </div>
            <div class="row">
                <dy-graph options="optRH" data="RH"></dy-graph>
            </div>
        </div>
    </div>
</div>