<div>
  <accordion close-others="false">
    <accordion-group is-open=false is-disabled=false heading="Humidifier Control">
      <p>Put humidifier controls here</p>
    </accordion-group>
    <accordion-group is-open="false" is-disabled="false" heading="Current Data">
      <p>Maybe we will put indicators in the tab above?</p>
    </accordion-group>
    <accordion-group is-open="true" is-disabled="false" heading="Humiditifier Plots">
      <p>Put plotted data here...</p>
    </accordion-group>
  </accordion>
</div>
