<div  ng-controller="pas">
  <accordion close-others=false>
    <accordion-group heading="Controls" is-disabled=false is-open=true>
      <div class="panel panel-default">
        <div class="panel-heading">
          Speaker Control
        </div>
        <div class="panel-body">
          <div class="form-group" id="spk">
            <label for="svrange">V
              <sub>range</sub>
              (V)</label>
            <input id="svrange" ng-blur="updateSpkV()" ng-model="speaker.vrange" type="number"/>
            <br/>
            <label for="svoffset">V
              <sub>offset</sub>
              (V)</label>
            <input  id="svoffset" ng-blur="updateSpkV()" ng-model="speaker.voffset" type="number"/>
            <br/>
            <label for="fcenter">f
              <sub>center</sub>
              (Hz)</label>
            <input  id="fcenter" max="5000" min="100" ng-blur="updateSpkF()" ng-model="speaker.f0" placeholder="1300" type="number"/>
            <br/>
            <label for="df">&Delta;f (Hz)</label>
            <input  id="df" max="1000" min="1" ng-blur="updateSpkF()" ng-model="speaker.df" placeholder="100" title="Speaker chirp bandwidth in Hz." type="number"/>

            <br/>
            <button ng-click="setPos()" class="btn btn-primary"  ng-switch on ="speaker.pos" type="button" value="Speaker">
              <div ng-switch-when = true>
                Speaker
              </div>
              <div ng-switch-when = false >
                Laser
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Speaker Cycle
        </div>
        <div class="panel-body">
          <div class="form-group" id="spk">
            <label for="period">Period (s)</label>
            <input  ng-model="cycle.period" id="period" max="5000" min ="1" ng-change="updateCycle()" placeholder="360" type="number"/>
            <br/>
            <label for="length">Length (s)</label>
            <input  id="length" max="100" min="1" ng-change="updateCycle()" ng-model="cycle.length" placeholder="0" type="number"/>
            <button class="btn btn-primary" ng-click="updateAuto()" ng-switch on="cycle.auto" type="button" value="Auto">
              <div  ng-switch-when=true>
                Auto
              </div>
              <div  ng-switch-when= false>
                Manual
              </div>
              <div ng-switch-default>
                Manual
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Laser Control
        </div>
        <div class="panel-body">
          <label for="period">Period (s)</label>
          <input  id="period" max="5000" min="10"  placeholder="360" type="number"/>
          <button class="btn btn-primary" type="button" value="Auto">
            Auto
          </button>
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="Indicators" is-disabled="false" is-open="false">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Variable</th>
                <th>Cell 1</th>
                <th>Cell 2</th>
                <th>Cell 3</th>
                <th>Cell 4</th>
                <th>Cell 5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b>f0</b>
                </td>
                <td ng-repeat="i in data.cell track by $index">{{ i.f0[0] | number}}</td>
              </tr>
              <tr>
                <td>Q</td>
                <td ng-repeat="i in data.cell track by $index">{{ i.Q[0] | number:2}}</td>
              </tr>
              <tr>
                <td>IA</td>
                <td ng-repeat="i in data.cell track by $index">{{ i.IA[0] | number:2 }}</td>
              </tr>
            </tbody>
          </table>
        </div>

  </accordion-group>
  <accordion-group heading="Plots" is-disabled="false" is-open="false">
    <div ng-controller="plotPASQ">
      <div id="chartContainerQ" style="height: 300px; width: 100%;"></div>
    </div>
    <div ng-controller="plotPASf0">
      <div id="chartContainerf0" style="height: 300px; width: 100%;"></div>
    </div>
    <div ng-controller="plotPASIA">
      <div id="chartContainerIA" style="height: 300px; width: 100%;"></div>
    </div>
    <div ng-controller="plotPASp">
      <div id="chartContainerp" style="height: 300px; width: 100%;"></div>
    </div>
    <div ng-controller="plotPASabs">
      <div id="chartContainerabs" style="height: 300px; width: 100%;"></div>
    </div>
  </div>

</accordion-group>
</accordion>

<!--<div class="row">

</div>-->
