<div ng-controller="pas">
  <accordion close-others=false>
    <accordion-group heading="Controls" is-disabled=false is-open=true>
      <div class="row">
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              Speaker Control
            </div>
            <div class="panel-body">
              <div class="form-group" id="spk">
                <label for="svrange">V
                  <sub>range</sub> (V)
                </label>
                <input class="form-control" id="svrange" ng-blur="updateSpkV()" ng-model="speaker.vrange" type="number" />
                <br/>
                <label for="svoffset">V
                  <sub>offset</sub> (V)
                </label>
                <input class="form-control" id="svoffset" ng-blur="updateSpkV()" ng-model="speaker.voffset" type="number" />
                <br/>
                <label for="fcenter">f
                  <sub>center</sub> (Hz)
                </label>
                <input class="form-control" id="fcenter" max="5000" min="100" ng-blur="updateSpkF()" ng-model="speaker.f0" placeholder="1300" type="number" />
                <br/>
                <label for="df">&Delta;f (Hz)</label>
                <input class="form-control" id="df" max="1000" min="1" ng-blur="updateSpkF()" ng-model="speaker.df" placeholder="100" title="Speaker chirp bandwidth in Hz." type="number" />

                <button class="btn btn-primary btn-block" ng-click="setPos()" type="button" ng-switch on="speaker.pos" value="Speaker">
                  <div ng-switch-when=true>
                    Speaker
                  </div>
                  <div ng-switch-when=false>
                    Laser
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              Speaker Cycle
            </div>
            <div class="panel-body">
              <div class="form-group" id="spk">
                <label for="period">Period (s)</label>
                <input min="1" class="form-control" id="period" max="5000" ng-change="updateCycle()" ng-model="cycle.period" placeholder="360" type="number" />
                <br/>
                <label for="length">Length (s)</label>
                <input class="form-control" id="length" max="100" min="1" ng-change="updateCycle()" ng-model="cycle.length" placeholder="0" type="number" />
                <button class="btn btn-primary btn-block" ng-click="updateAuto()" ng-switch on="cycle.auto" type="button" value="Auto">
                  <div ng-switch-when=true>
                    Auto
                  </div>
                  <div false ng-switch-when=>
                    Manual
                  </div>
                  <div ng-switch-default>
                    Manual
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              Laser Control
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Cell</th>
                      <th>V
                        <sub>range</sub> (V)
                      </th>
                      <th>V
                        <sub>offset</sub> (V)
                      </th>
                      <th>f
                        <sub>0</sub> (Hz)
                      </th>
                      <th>Modulation</th>
                      <th>Enable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="n in lasCtl track by $index">
                      <td>{{$index+1}}</td>
                      <td>
                        <input class="col-md-12" type="text" ng-model="n.Vrange" ng-blur = "updateVr()">
                      </td>
                      <td>
                        <input class="col-md-12" type="text" ng-model="n.Voffset" ng-blure="updateVo()">
                      </td>
                      <td>
                        <input class="col-md-12" type="text" ng-model="n.f0" ng-blur="updatef0()">
                      </td>
                      <td>
                        <button class="btn btn-primary btn-block" type="button" value="Sine" ng-click="n.modulation = !n.modulation" ng-switch on="n.modulation">
                          <div ng-switch-when=true>
                            Square
                          </div>
                          <div  ng-switch-when=false>
                            Sine
                          </div>
                          <div ng-switch-default>
                            Sine
                          </div>
                        </button>
                      </td>
                      <td>
                        <button class="btn btn-primary btn-block" type="button" value="Disabled" ng-click="n.enable = !n.enable" ng-switch on="n.enable">
                          <div ng-switch-when=true>
                            Enabled
                          </div>
                          <div  ng-switch-when=false>
                            Disabled
                          </div>
                          <div ng-switch-default>
                            Disabled
                          </div>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="Indicators" is-disabled="false" is-open="false">
      <div class="row">
        <div class="col-md-8">
          <div class="table-responsive">
            <table class="table table-striped">
              <colgroup>
                <col class="col-md-1"></col>
                <col class="col-md-2"></col>
                <col class="col-md-2"></col>
                <col class="col-md-2"></col>
                <col class="col-md-2"></col>
                <col class="col-md-2"></col>
              </colgroup>
              <thead>
                <tr>
                  <th>Cell</th>
                  <th>f
                    <sub>0</sub>
                  </th>
                  <th>IA</th>
                  <th>Q</th>
                  <th>Noise</th>
                  <th>&sigma; (Mm
                    <sup>-1</sup>)</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="datum in data.cell track by $index">
                  <td>
                    {{$index+1}}
                  </td>
                  <td>{{ datum.f0[0].y | number}}</td>
                  <td>{{ datum.IA[0].y | number:2}}</td>
                  <td>{{ datum.Q[0].y | number:2 }}</td>
                  <td>{{ datum.p[0].y | number:2 }}</td>
                  <td>{{ datum.abs[0].y | number:2 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </accordion-group>
    <accordion-group heading="Plots" is-disabled="false" is-open="false">
      <nvd3 options="options" data="testData" config="{refreshDataOnly:true}"></nvd3>
</div>

</accordion-group>
</accordion>
