<div ng-controller="Sidebar">
	<nav class="bs-docs-sidebar hidden-print affix-top" >
		<ul class="nav bs-docs-sidenav">
			<li>
				<div class="alert alert-info">
					<b>{{time}}</b>
				</div>
			</li>
			<li class>
				<button class="btn btn-default" type="button" ng-click = "saveData()" ng-class="{'active': save}">
					Save
				</button>
			</li>
			<li>
				<button class="btn btn-default" type="button" ng-click = "setFilter()" ng-class="{'active': filter}">
					Filter
				</button></li>
			<li class>
				<button class="btn btn-default" type="button" ng-click = "stop()">
					Stop
				</button>
			</li>
			<li>
				<div class="form-group" id="address">
					<label class = "ctl-label small" for="ip">IP</label>
					<input ng-model="ip" ng-change="changeIP()" type="text"  class="form-control" id="ip" data-toggle="tooltip" data-placement="right" />
					<br>
					<label class = "ctl-label small" for="port">Port</label>
					<input class="form-control" ng-model="port" ng-change="changePort()" type="text" id="port" />
				</div>
			</li>
			<li class ng-switch on="connected">
				<div ng-switch-when = true class="alert alert-success">
					Connected
				</div>
				<div ng-switch-when = false class="alert alert-danger">
					Not Connected
				</div>
			</li>
			<li class ng-switch on="cabin">
				<div ng-switch-when = true class="alert alert-success">
					Inlet
				</div>
				<div ng-switch-when = false class="alert alert-info">
					Cabin
				</div>
			</li>
			<li class ng-switch on="o3On">
				<!-- Show nothing when an ozone cal is not running -->
				<div ng-switch-when = true class="alert alert-success">
					Ozone Cal Active
				</div>
			</li>

		</ul>

	</nav>

</div>
