<div class="row">
	<div class="col-lg-1 col-md-2 col-sm-3 col-xs-3" role="main">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					Laser Control
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" id="fcrd">
							<label class = "ctl-label" for="bluerate">f<sub>blue</sub> (Hz)</label>
							<input type="number" id="bluerate" class="form-control" placeholder="2000" data-toggle="tooltip" data-placement="right" title="Blue laser repetition rate (in Hz)."/>
							<br />
							<label class = "ctl-label" for="redrate">f<sub>red</sub> (Hz)</label>
							<input type="number" id="redrate" class="form-control" placeholder="1000"/>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group" id ="dccrd">
							<label class = "ctl-label" for="bluedc">DC<sub>blue</sub> (Hz)</label>
							<input type="number" id="bluedc" class="form-control" placeholder="50"/>
							<br />
							<label class = "ctl-label" for="reddc">DC<sub>red</sub> (Hz)</label>
							<input type="number" id="reddc" class="form-control" placeholder="50"/>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<button type="button" class="btn btn-primary" id ="benable">
								Blue Enabled
							</button>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<button type="button" class="btn btn-primary" id ="renable">
								Red Enabled
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default" data-toggle="tooltip" data-placement="right"  title="PMT gains in volts.">
				<div class="panel-heading">
					Laser Gain
				</div>
				<div class="row">
					<div class="col-md-5">
						<label class = "ctl-label" for="g1">Gain 1</label>
						<input type="number" id="g1" class="form-control" placeholder="5" />
						<br />
						<label class = "ctl-label" for="g2">Gain 2</label>
						<input type="number" id="g2" class="form-control" placeholder="5" />
						<br />
						<label class = "ctl-label" for="g3">Gain 3</label>
						<input type="number" id="g3" class="form-control" placeholder="5" />
						<br />
						<label class = "ctl-label" for="g4">Gain 4</label>
						<input type="number" id="g4" class="form-control" placeholder="5" />
						<br />
						<label class = "ctl-label" for="g5">Gain 5</label>
						<input type="number" id="g5" class="form-control" placeholder="5" />
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-11 col-md-10 col-sm-9 col-xs-9">
		<div id="chart" class='with-3d-shadow with-transitions'>
			<svg></svg>
		</div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				Dropdown
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation">
					<a role="menuitem" tabindex="-1" id="tau">Tau</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" id="tau0">Tau0</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" id="ext">Extinction</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" id="max">Max</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#">Separated link</a>
				</li>
			</ul>
		</div>
	</div>
</div>