<div ng-controller="mrConfigCtlr">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Network</div>
                <div class="panel-body">
                    <cui-string ng-model="network.ip" evnt-func="changeIP()">IP</cui-string>
                    <cui-string ng-model="network.port" evnt-func="changePort()">Port</cui-string>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Filter</div>
                <div class="panel-body">
                    <cui-numeric type="int" ng-model="filter.per" evnt-func="filter.updateCycle()"><div tooltip-placement="left" tooltip="Adjust the period in seconds of the filter cycle."
                         tooltip-trigger="mouseenter" tooltip-append-to-body="true" >Per. (s)</div></cui-numeric>
                    <cui-numeric type="int" ng-model="filter.len" evnt-func="filter.updateCycle()"><div tooltip-placement="left" tooltip="Adjust the length of the filter time in the filter cycle."
                         tooltip-trigger="mouseenter" tooltip-append-to-body="true" >Len. (s)</div></cui-numeric>
                    <cui-button ival="filter.pos" ng-model="filter.pos" evnt-func="filter.updatePos()"><div tooltip-placement="right" tooltip="Toggle filter position."
                         tooltip-trigger="mouseenter" tooltip-append-to-body="true">Position</div></cui-button>
                    <cui-button ival="filter.auto" ng-model="filter.auto" evnt-func="filter.updateAuto()"><div tooltip-placement="left" tooltip="Toggle automatic filter cycling."
                         tooltip-trigger="mouseenter" tooltip-append-to-body="true" >Auto</div></cui-button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">File</div>
                <div class="panel-body">
                    <cui-string width = "100" ng-model="file.folder">folder</cui-string>
                    <cui-string width = "100" ng-model="file.main">Main Path</cui-string>
                    <cui-string width = "100" ng-model="file.mirror">Mirror Path</cui-string>
                    <cui-string width = "100" ng-model="file.prefix">File Prefix</cui-string>
                    <cui-string width = "100" ng-model="file.ext">File Extension</cui-string>
                    <cui-numeric ng-model="file.max">Max Size</cui-numeric>
                    <cui-button ival="file.save" ng-model="file.save">Save</cui-button>
                </div>
            </div>
        </div>-->
        <!-- <input ng-model="file.folder"/>-->
    </div>
    <!--<div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Wvfm Data</div>
                <div class="panel-body">
                    <div class="checkbox"><label><input type="checkbox">CRD</label></div>
                    <div class="checkbox"><label><input type="checkbox">PAS</label></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="panel panel-default" ng-controller="mrAlicatConfigCtlr">
            <div class="panel-heading">Alicat</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="acom">COM</label>
                    <input type="text" id="acom" class="form-control" tooltip="Serial communication port" tooltip-trigger="mouseenter" placeholder="0">
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="device in devices">
                        <input type="checkbox"><span><b>  {{device.id}}: {{device.address}}</span></li>
                </ul>
                <div class="form-group">
                    <input type="text" ng-model="entry.address" id="address" placeholder="A" tooltip="Device address; A-Z" tooltip-trigger="mouseenter" />
                    <input type="text" ng-model="entry.id" id="ID" placeholder="device_name" tooltip="Device name" tooltip-trigger="mouseenter" />
                    <button class="btn btn-default" ng-click="addDevice()"><span class="glyphicon glyphicon-plus" style="font-size:10px"></span> Add</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><cui-button ival="filter_speaker" ng-click="connectFilterSpeaker()">Connect Filter Cycle</cui-button></div>
    </div>-->
    <div class="row">
        <div class="col-md-2">
            <cui-button ival="connected" ng-click="stop();">Stop
            </cui-button>
            <cui-button ival="notconnected" ng-click="start();">Start
            </cui-button>
            <cui-button ival="rebooting" ng-click="reboot();">Reboot
            </cui-button>
        </div>
    </div>
</div>
<div ng-controller="ExDevStatusCtl">
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive" style="padding-bottom:0px;">
                <table class="table table-borderless" id="xml-table" style="color:white">
                    <thead>
                        <tr>
                            <th>Device Type</th>
                            <th>ID</th>
                            <th>Label</th>
                            <th>Active?</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="key in keys track by $index">
                        <tr ng-repeat="val in values[$index] track by $index">
                          <td>{{$index ===0?val.cname:""}}</td>
                          <td>{{val.name}}</td>
                          <td>{{val.label}}</td>
                          <td><div ng-class="val.status?'led-green-ex':'led-red'"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
