<div ng-controller="ExHumidityCtl">
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div class="row">
                <div ng-repeat="ctl in h track by $index">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ctl.name}}</div>
                            <div class="panel-body">
                                <cui-numeric ng-model="ctl.d" width="45" evnt-func="updateHum($index)">D</cui-numeric>
                                <cui-numeric ng-model="ctl.sp" width="45" evnt-func="updateHum($index)">RH<sub>sp</sub>
                                </cui-numeric>
                                <cui-button ival="ctl.en" ng-model="ctl.en" ng-click="setEnable($index)">Enable
                                </cui-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9 col-lg-10">
            <div class="row">
                <context-menu menu-options ="RHcm">
                <dy-graph options="optRH" data="RH" ref="RHref"></dy-graph>
                </context-menu>
            </div>
            <div class="row">
                 <context-menu menu-options ="Tempcm">
               <dy-graph options="optTemp" data="Temps" ref="Tempref"></dy-graph>
                 </context-menu>
           </div>
            <div class="row">
                 <context-menu menu-options ="Ctlcm">
               <dy-graph options="optCtlOut" data="ctlrOut" ref="ctlref"></dy-graph>
                 </context-menu>
           </div>
        </div>
    </div>
</div>
