<div ng-controller="Sidebar">
    <nav class="bs-docs-sidebar hidden-print affix-top">
        <ul class="nav bs-docs-sidenav">
            <li>
                <cui-button ival="filter" ng-click="setFilter()">
                    <div tooltip-placement="left" tooltip="Change filter state"
                         tooltip-trigger="mouseenter" tooltip-append-to-body="true">Filter
                    </div>
                </cui-button>
            </li>
            <li>
                <cui-button ival="denuder_bypass" ng-click="setDenuderBypass()">
                    <div tooltip-placement="left" tooltip="Set path to denuder or bypass."
                         tooltip-trigger="mouseenter" tooltip-append-to-body="true">Denuder
                    </div>
                </cui-button>
            </li>
            <li>
                <cui-button ival="connected" ng-click="stop()">Stop</cui-button>
            </li>
            <li>
                <cui-button ival="cabin" ng-click="setCabin()">
                    <div tooltip-placement="left" tooltip="Toggle sample inlet"
                         tooltip-trigger="mouseenter" tooltip-append-to-body="true">Inlet
                    </div>
                </cui-button>
            </li>
            <li class ng-switch on="o3On">
                <div ng-switch-when=t rue class="alert alert-success">
                    Ozone Cal Active
                </div>
            </li>
            <li class ng-show="pumpBlocked">
                <!-- Show nothing when an ozone cal is not running -->
                <div class="alert alert-danger">
                    Pump Blocked!
                </div>
            </li>
            <li class ng-show="impBlocked">
                <!-- Show nothing when an ozone cal is not running -->
                <div class="alert alert-danger">
                    Impactor Blocked!
                </div>
            </li>
            <li class ng-switch on="interlock">
                <div ng-switch-when="true" class="alert alert-danger">
                    Potential Laser Exposure!
                </div>
                <div ng-switch-when="false" class="alert alert-info">
                    Lasers Contained.
                </div>
            </li>


        </ul>

    </nav>

</div>