<div ng-controller="Sidebar">
    <nav class="bs-docs-sidebar hidden-print affix-top">
        <ul class="nav bs-docs-sidenav">
             <li>
               <div ng-controller="ExPowerCtl">
                    <div class="panel panel-default">
                        <div class="panel-heading">Power</div>
                        <div class="panel-body">
                            <div ng-repeat="o in order track by $index">
                                <cui-button ival="power[o]" ng-click="toggle(o)">{{o}}</cui-button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

                   
            <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">Valves</div>
               <div class="panel-body">
                <cui-button ival="filter" ng-click="setFilter()">
                    <div tooltip-placement="left" tooltip="Change filter state"
                         tooltip-trigger="mouseenter" tooltip-append-to-body="true">Filter
                    </div>
                </cui-button>
                <cui-button ival="denuder_bypass" ng-click="setDenuderBypass()">
                    <div tooltip-placement="left"
                         tooltip="Set path to denuder or bypass."
                         tooltip-trigger="mouseenter"
                         tooltip-append-to-body="true">Denuder Bypass
                    </div>
                </cui-button>
                 <cui-button ival="cabin" ng-click="setCabin()">
                    <div tooltip-placement="left"
                         tooltip="Toggle sample inlet"
                         tooltip-trigger="mouseenter"
                         tooltip-append-to-body="true">Inlet
                    </div>
                </cui-button>
                </div>
                </div>
            </li>
            <!-- <li class ng-switch on="o3On">
                <div ng-switch-when=t rue class="alert alert-success">
                    Ozone Cal Active
                </div>
            </li> -->
            <li class ng-switch on="pumpBlocked">
                <div ng-switch-when="true" class="alert alert-danger">
                    Pump Blocked!
                </div>
                <div ng-switch-when="false" class="alert alert-info">
                    Pump Clear
                </div>
            </li>
            <!-- <li class ng-show="impBlocked">
                <div class="alert alert-danger">
                    Impactor Blocked!
                </div>
            </li>-->
            <li class ng-switch on="laserStatus">
                <div ng-switch-when="true" class="alert alert-danger">
                    Lasers On!
                </div>
                <div ng-switch-when="false" class="alert alert-info">
                    Lasers Off.
                </div>
            </li>
            <li>        
            <div ng-controller="ExFilterCtl">
            <div class="panel-default panel">
                <div class="panel-heading">Filter Input</div>
                <div class="panel-body">
                    <cui-numeric ng-model="filter.cycle.period" width="50" evnt-func="filter.updateCycle()">Per. (s)
                    </cui-numeric>
                    <cui-numeric ng-model="filter.cycle.length" width="50" evnt-func="filter.updateCycle()">l (s)
                    </cui-numeric>
                    <cui-button ival="filter.cycle.auto" ng-model="filter.cycle.auto" width="50" evnt-func="filter.updateAuto()">Auto
                    </cui-button>
                    <cui-numeric ng-model="tremain" width="50" type="int" readonly>t<sub>r</sub> (s)</cui-numeric>
                </div>
            </div>
        </div>
</li>
       <li>        
           <div ng-controller="ExCommonCtl">
            <div class="panel panel-default">
                <div class="panel-heading">Impactor</div>
                <div class="panel-body">
                    <cui-numeric ng-model="impactor.diffV" width="50">P<sub>imp</sub>
                    </cui-numeric>
                    <cui-button ival="impactor.blocked">Blocked?</cui-button>
                </div>
            </div>

        </div>
</li>
        </ul>
    </nav>
    
</div>
<div class="row">
    <div class="col-md-2">
   </div>
</div>