<div class="row">
	<div class="col-md-4">
		<div class="table-responsive">
			<table class="table table-bordered table-striped" id="xml-table" ng-controller="O3Table">
				<thead>
					<tr>
						<th>Step</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="val in table_vals" ng-dblclick="clickRow(val)">
						<th scope="row" id="{{val.id}}">{{val.step}}</th>
						<td>{{val.descr}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<div class="table-responsive" ng-controller="InputTable">
			<table class="table table-bordered table-striped" id="cal-table">
				<colgroup>
					<col class="col-md-4" />
					<col class="col-md-8" />
				</colgroup>
				<thead>
					<tr>
						<th>Step</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="datum in data">
						<td>{{datum.id}}</td>
						<td contenteditable>{{datum.val}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-2">
		<form class="form-inline" ng-controller="Save">
			<div class="form-group">
				<label class="sr-only" for="fileName">Password</label>
				<input type="text" ng-model="cal_file" class="form-control">
				<button type="button" class="btn btn-primary btn-block" ng-click="save()">
                    <span class="glyphicon glyphicon-transfer pull-left" aria-hidden="true"> </span>Save Cal
				</button>
				<button type="button" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-check pull-left" aria-hidden="true"></span> Set as Default
				</button>
		<button ng-controller="startCal" ng-click="startCalibration()" type="button" class="btn btn-primary btn-block" ng-switch on="cal" value="Start Calibration">
			<div ng-switch-when="true">
				Cal Running...
			</div>
			<div ng-switch-default>
				Start Cal
			</div>
		</button>
			</div>
		</form>
		
	</div>
