<div ng-controller="navctlr">
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <img style="padding-top: 10px" src="../MO_Landscape_W.gif" alt="">
             EXSCALABAR<br>
            <div class="navbar-header">

                <button class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed=true"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">{{name}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">

                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" role="button">System
                            Control
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href='./#/CRDS'>CRDS</a>
                            </li>
                            <li>
                                <a href='./#/PAS'>PAS</a>
                            </li>
                            <li>
                                <a href='./#/Flows'>Flow Control</a>
                            </li>
                            <li>
                                <a href='./#/Temperature'>Temperature</a>
                            </li>
                            <li>
                                <a href='./#/Common'>Common</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='./#/Humidifier'>Humidifier
                            <span class='sr-only'>(current)</span>
                        </a>
                    </li>
                    <li>
                    <li>
                        <a href="./#/Housekeeping">Housekeeping</a>
                    </li>

                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li>
                        <a href="./#/Checklist" tooltip-placement="bottom" tooltip="Instrument checklist"
                           tooltip-trigger="mouseenter" tooltip-append-to-body="true">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href="./#/Config" tooltip-placement="bottom" tooltip="Update system configuration"
                           tooltip-trigger="mouseenter" tooltip-append-to-body="true">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href='./#/O3' tooltip-placement="bottom" tooltip="Configure calibrations"
                           tooltip-trigger="mouseenter" tooltip-append-to-body="true">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li ng-model="save" ng-click="updateSave()" ng-switch on="save">
                        <a tooltip-placement="bottom" tooltip="Click to save data" tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                            <div ng-switch-when="true">
                                <span class="glyphicon glyphicon-floppy-saved green" aria-hidden="true"></span>
                            </div>
                            <div ng-switch-when="false">
                                <span class="glyphicon glyphicon-floppy-remove red" aria-hidden="true"></span>
                            </div>
                            <div ng-switch-default>
                                <span class="glyphicon glyphicon-floppy-remove red" aria-hidden="true"></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./#/msg" tooltip-placement="bottom" tooltip="Get system messages"
                           tooltip-trigger="mouseenter" tooltip-append-to-body="true">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </a>
                    </li>
                    </button>
                </ul>

            </div>

        </div>
    </nav>
</div>